# Core
fastapi
uvicorn
pydantic
python-dotenv
httpx[http2]
requests
tenacity

# Data/Analytics
numpy
pandas
scikit-learn

# Visualization/UI
streamlit
streamlit-autorefresh
matplotlib
seaborn

# Database/Persistence
sqlalchemy

# Testing
pytest
pytest-asyncio
pytest-httpx

# Code Quality
black
pylint

